{% extends 'layout/base.html' %}

{%  block head %}
<title>Login Page</title>
{% endblock %}

{%  block content %}

                <div class="container py-5">
                    <form method="post" class="col-lg-4  col-md-9 p-4 rounded card mx-auto">

                        {% include 'components/messages.html' %}

                                {% csrf_token %}

                        <div class="mb-3">
                            <label for="email">Email <span class="text-danger">*</span> </label>
                            <input type="email" name="email" class="form-control" placeholder="Enter Email Address" id="email">
                        </div>

                        <div class="mb-3">
                            <label for="password">Password <span class="text-danger">*</span> </label>
                            <input type="password" name="password" class="form-control" placeholder="Enter Password" id="password">
                        </div>
                        <div class="mb-3">
                            <button style="width: 100%;" type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <div class="mb-3">
                            <p class="text-end">
                                Don't Have An Account ? <a href="{% url 'register' %}" class="text-primary">Register</a>
                            </p>
                        </div>
                       
                    </form>
                </div>

{% endblock %}


{%  block footer %}
{% endblock %}