{% extends 'layout/base.html' %}

{%  block head %}
<title>Notes Page</title>
{% endblock %}

{%  block content %}

            <div class="container py-5">
               {% for i in cards %}
               <div class="mb-3 card px-4 py-2  col-lg-5 col-md-10 mx-auto">
                <h1 class="card-header">card title</h1>
                <p class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum asperiores ad qui?</p>
                <div class="card-footer">
                    <button class="btn btn-danger btn-sm">Delete</button>
                    <button class="btn btn-warning btn-sm">Edit</button>
                </div>
            </div>
               {% endfor %}
            </div>

{% endblock %}


{%  block footer %}
{% endblock %}